src/rpc-server/suicidesXSD.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="suicides">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="year">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="country">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="suicide">
                      <xs:complexType>
                        <xs:attribute name="sex" type="xs:string" use="required" />
                        <xs:attribute name="minAge" type="xs:unsignedByte" use="required" />
                        <xs:attribute name="maxAge" type="xs:string" use="required" />
                        <xs:attribute name="tax" type="xs:decimal" use="required" />
                        <xs:attribute name="population_no" type="xs:unsignedInt" use="required" />
                        <xs:attribute name="suicides_no" type="xs:unsignedShort" use="required" />
                        <xs:attribute name="generation" type="xs:string" use="required" />
                        <xs:attribute name="gdp_for_year" type="xs:string" use="required" />
                        <xs:attribute name="hdi_for_year" type="xs:string" use="required" />
                        <xs:attribute name="gdp_per_capita" type="xs:unsignedShort" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="lat" type="xs:decimal" use="required" />
                  <xs:attribute name="lon" type="xs:decimal" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="code" type="xs:unsignedShort" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>